@import "../../styles/shared.scss";

@keyframes resize {
  0%,
  17.5% {
    width: 0;
  }
}

td {
  &.star {
    width: $icon-big;
  }
  &.title {
    width: 300px;
    // TODO: Responsiveness
  }
  &.body {
    a {
      color: $blue;
    }
    ul {
      padding-left: 20px;
    }
  }
}
.favButton {
  all: unset;
  cursor: pointer;
  transition: 0.2s background-color ease-in-out;
  border-radius: $radius-full;
  width: $icon-big;
  height: $icon-big;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    width: $icon-default;
    z-index: 5;
  }
  .starIcon {
    fill: $grey;
    transition: 0.2s fill ease-in-out;
  }

  &:hover,
  &:focus {
    background-color: rgba($green-light, 0.2);
    .starIcon {
      fill: none;
      stroke: $green-light;
      stroke-width: 2px;
    }
  }

  &.favourited {
    svg {
      will-change: width;
      animation: resize 1s cubic-bezier(0.17, 0.89, 0.32, 1.49);
    }

    .starIcon {
      fill: $green;
      stroke: none;
    }
  }
}
