@import "../../styles/shared.scss";

.StateInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: $grey-dark;
  padding: $spacing-huge 0;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-word;

  @media #{$mq-desktop} {
    max-width: 50%;
  }
  h2 {
    margin-bottom: 0;
    color: $green;
  }
}

#SvgIconLoading {
  fill: $green;
}

svg {
  width: $icon-huge;
  fill: $grey;
}
