// General
$bg-color: #ffffff;
$text-dark: #333333;
$text-light: #ffffff;

// Green
$green-dark: #0d6638;
$green: #23995c;
$green-light: #43cc85;
$green-lighter: #f7fefa;

// Blue
$blue-dark: #1d5796;
$blue: #1d5796;
$blue-light: #3a7fc9;
$blue-lighter: #f7fafe;

// Grey
$grey-dark: #787878;
$grey: #aaaaaa;
$grey-light: #dedede;
$grey-lighter: #fafafa;
