@import "../../styles/shared.scss";

.searchForm {
  display: flex;
  flex-direction: row;
  padding: $spacing-small 0;
  @media #{$mq-desktop} {
    padding: $spacing-big 0;
  }

  .searchLabel {
    display: none;
  }

  .searchInput {
    font-size: $text-default;
    padding: $spacing-default;
    border-radius: $radius-default;
    border: 1px solid $grey;
    flex: 1;
    margin-right: $spacing-default;
    transition: $transition-duration-default box-shadow $transition-timing-1;

    &:focus {
      outline: none;
      border-width: 2px;
      border-color: $green;
      box-shadow: $shadow-deep rgba($green, 0.2);
    }

    @media #{$mq-desktop} {
      font-size: $text-big;
    }
  }

  .searchButton {
    all: unset;
    -webkit-tap-highlight-color: transparent;
    padding: $spacing-smaller $spacing-small;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $green;
    border-radius: $radius-default;
    cursor: pointer;
    color: $text-light;
    box-shadow: $shadow-default rgba($text-dark, 0.15);
    transition: $transition-duration-default box-shadow $transition-timing-1,
      $transition-duration-default background-color $transition-timing-1;

    @media #{$mq-desktop} {
      padding: $spacing-small;
    }

    svg {
      fill: $text-light;
      width: $icon-default;
      @media #{$mq-desktop} {
        width: $icon-big;
      }
    }

    &:hover,
    &:focus {
      background-color: $green-dark;
      box-shadow: $shadow-deep rgba($green, 0.5);
    }

    &:active {
      background-color: darken($green-dark, 5%);
      box-shadow: $shadow-default rgba($text-dark, 0.15);
    }
  }
}
