@import "../../styles/shared.scss";

.header {
  background-image: linear-gradient(to right, $blue, $green);
  color: $text-light;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: $spacing-default;
  font-size: $text-small;

  @media #{$mq-desktop} {
    padding: $spacing-big;
    font-size: $text-default;
  }
}
