@import "../../styles/shared.scss";

.container {
  width: 100%;
  max-width: 1024px;
  padding: $spacing-small;
  margin: 0 auto;

  @media #{$mq-desktop} {
    padding: $spacing-default;
  }
}

.favouriteSection {
  background: $green-lighter;
  padding: $spacing-smaller;

  h2 {
    color: $green;
  }
}

@keyframes spin1 {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}
