@import "../../styles/shared.scss";

.container {
  width: 1024px;
  padding: 1rem;
  max-width: 100%;
  margin: 0 auto;
}

.favouriteSection {
  background: $green-lighter;
  padding: 0.2rem;

  h2 {
    color: $green;
  }
}

.EmptyLoading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h3 {
    margin-bottom: 0;
    color: $green;
  }
  span {
    text-align: center;
    color: grey;
  }
}

#EmptyIcon {
  width: 80px;
  fill: $grey;
}

#SvgIconLoading {
  width: 60px;
  fill: $green;
  animation: spin1 1s infinite linear;
}
@keyframes spin1 {
  0% {
    -moz-transform: rotate(320deg);
    -webkit-transform: rotate(320deg);
    -o-transform: rotate(320deg);
    -ms-transform: rotate(320deg);
  }
  100% {
    -moz-transform: rotate(680deg);
    -webkit-transform: rotate(680deg);
    -o-transform: rotate(680deg);
    -ms-transform: rotate(680deg);
  }
}
